_*
config.yaml
gitignore_specific_line.md

#private
Settings-Eungbean.sh
SETTINGS-Eungbean.sh


# Jupyter-deprecated
scripts/3-build_docker_jupyter.sh
scripts/4-run_docker_jupyter.sh
src/Jupyter/*
src/Dockerfile-jupyter.dev

# archives
WORKING

