[Unit]
Description=Code Server IDE
After=network.target

[Service]
Type=simple
User=<USER>
EnvironmentFile=~/.profile
EnvironmentFile=/etc/systemd/system/code-server.service.d/override.conf
WorkingDirectory=~
Restart=on-failure
RestartSec=10

ExecStart=/usr/local/bin/coder/code-server $(pwd)

StandardOutput=file:/var/log/code-server-output.log
StandardError=file:/var/log/code-server-error.log

[Install]
WantedBy=multi-user.target